<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Total Revenue: <%= total_revenue %></h1>

    <h2>Bonuses</h2>
    <ul>
      <li>Leela (<%= leela_count %>): <%= leela_total * 0.1 %></li>
      <li>bender (<%= bender_count %>): <%= bender_total * 0.1 %></li>
      <li>amy (<%= amy_count %>): <%= amy_total * 0.1 %></li>
      <li>fry (<%= fry_count %>): <%= fry_total * 0.1 %></li>
    </ul>

    <h2>Shipments</h2>
    <table>
      <thead>
        <tr>
          <th>
            Destination
          </th>
          <th>
            Shipment
          </th>
          <th>
            Crates
          </th>
          <th>
            Money
          </th>
        </tr>
      </thead>
      <tbody>
        <% shipments.each do |shipment| %>
          <tr>
            <td>
              <%= shipment["Destination"] %>
            </td>
            <td>
              <%= shipment["Shipment"] %>
            </td>
            <td>
              <%= shipment["Crates"] %>
            </td>
            <td>
              <%= shipment["Money"] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </body>
</html>
